<div class="sidebar">
  <div class="whitebox paddtop10">
      <div class="innerhead">
          <div class="row">
              <div class="col-sm-2 hidden-print">
                  <h4><a routerLink="/login"><span class="glyphicon glyphicon-arrow-left"></span><span class="mediumtext"> &emsp;&emsp;Back</span></a></h4>
              </div>
              <div class="col-sm-7 text-center">
                <h3 class="mediumtext">Sri Sarathi Institute Of Engineering And Technology</h3>
              </div>
              <div class="col-sm-3 hidden-print">
                  <div class="getmembership floatr">
                      <a class="btn btntwo">Get Licence</a>
                  </div>
              </div>
          </div>
          <div class="row">
              <app-collegemenu class="hidden-print"></app-collegemenu>
          </div>
              <router-outlet></router-outlet>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
      </div>
  </div>
</div>