<div class="signup min50">
  <div class="whitebox" style="height:100%">
    <div class="signup_div">
      <form (ngSubmit)="signup(f)" #f="ngForm" *ngIf='!otp_screen'>
        <div class="small_subhead">
          <h3 class="fotntwt700">Sign Up</h3>
        </div>
        <label>Student Name</label>
        <input ngModel name="s_name" class="form-control" required>

        <label>Roll No (College ID)</label>
        <input id='check_uname' ngModel name="username" class="form-control" minlength=10 placeholder="Please enter College ID which issued by JNTUK"
          required>

        <label>Password</label>
        <input id='p1' type="password" ngModel name="password1" class="form-control" minlength=5 required>

        <label>Re-Enter Password</label>
        <input type="password" ngModel name="password2" class="form-control" minlength=5 (keyup)='check_password(f.value.password1,$event)'
          required>
        <span *ngIf='passwordsmatch==1' style="color:red;display: inherit;"> &emsp; Passwords Not Matched</span>

        <label>Mobile No</label>
        <input type="text" ngModel name="contactno" class="form-control" pattern="^(?:(?:\+|0{0,2})91(\s*[\-]\s*)?|[0]?)?[789]\d{9}$"
          required>

        <label>E-mail</label>
        <input type="text" ngModel name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" class="form-control"
          required>

        <label>Address</label>
        <input ngModel name="address" class="form-control" required>

        <label>Select College</label>
        <select name="collegename" class="form-control" required ngModel>
          <option></option>
          <option [value]=[option.username] *ngFor='let option of colleges'>{{option.college.name}}</option>
        </select>
        <!-- <br>
        <input type="checkbox" ngModel name='acceptnce' required> &nbsp;<label> <a href="terms.php" target="_blank">Accept
            terms and conditions</a></label> -->
        <br>
        <button *ngIf="passwordsmatch==1" type="submit" disabled class="btn btn-success">Submitt</button>
        <button *ngIf="passwordsmatch==0" type="submit" [disabled]='!f.valid' class="btn btn-success">Submit</button>
        <!-- <button  type="submit"> submit</button> -->
        <div class="marbt25"></div>
      </form>
      <form (ngSubmit)="validate_otp(f)" #f="ngForm" *ngIf='otp_screen'>
        <div class="small_subhead">
          <h3 class="fotntwt700">OTP Validation</h3>
        </div>
        <label for="username">Enter OTP</label>
        <input id='check_uname' ngModel name="otp" class="form-control" placeholder="Please enter OTP which sent to your registered mobile no"
          valid=false required>
        <span *ngIf='otpvalid==1' style="color:red;display: inherit;">OTP Not Matched , Please Enter Valid OTP</span>
        <br>
        <button type="submit" [disabled]='!f.valid' class="btn btn-success">Verify</button>
      </form>
    </div>
  </div>
</div>
<div class="sub_screen" id="confirm_details">
  <div class="sub_screen_content sml_h">
    <div class="head">
      <div class="ssc_titel">Confirm Roll No & Mobile No</div>
    </div>
    <div class="body">
      <div class="confirm">
        <table>
          <tr>
            <td>Roll No</td>
            <th>{{studentdata?.username}}</th>
          </tr>
          <tr>
            <td>Mobile No</td>
            <th>{{studentdata?.contactno}}</th>
          </tr>
        </table>
        <span class="info_msg"> ** After signup <b>Roll No</b> cannot be modify.</span>
      </div>
    </div>
    <div class="sub_screen_footer">
      <button class="btn btn-danger" (click)='close_subscreen()'>Edit</button>&nbsp;
      <button class="btn btn-success" (click)='checkduplicaton()'>Confirm</button>
    </div>
  </div>
</div>
<div class="sub_screen" id="signup">
  <div class="sub_screen_content sml_h">
    <div class="head">
      <div class="ssc_titel">Success</div>
    </div>
    <div class="body">
      <div class="confirm">
        <h5><b>Successfully Sign up ... Redirecting to login page</b></h5>
        <p class="success text-center"><span style="padding: 9px;background-color: green;border-radius: 50%;color: white;"
            class="glyphicon glyphicon-ok"></span></p>
      </div>
    </div>
    <div class="sub_screen_footer">
    </div>
  </div>
</div>
<div class="sub_screen" id="error">
  <div class="sub_screen_content sml_h">
    <div class="head">
      <div class="ssc_titel">Failed</div>
    </div>
    <div class="body">
      <div class="confirm">
        <h5><b>{{error_msg}}</b></h5>
        <p class="success text-center"><span  style="padding: 9px;background-color: red;border-radius: 50%;color: white;"  class="glyphicon glyphicon-remove"></span></p>
      </div>
    </div>
    <div class="sub_screen_footer">
      <button class="btn btn-danger" (click)='close_subscreen()'>Close</button>
    </div>
  </div>
</div>