<div class="header">
  <div class="header_content">
    <div class="row">
      <div class="col-sm-3">
        <div class="logo text-center">
          <img [routerLink]="['/']" src="assets/images/logo_resultrepo.JPG" alt="">
        </div>
      </div>
      <div class="col-sm-9 hidden-print">
        <div class="header_right">
          <div class="buttons_div text-right">
            <div class="button_group">
              <a [routerLink]="['/login']" class="btn header_buttons" (click)="student_login();">Sign-in/up</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>