<div class="maincontent">
        <div class="graybox">
            <div class="student_menuoptions">
            <ul> 
                <li routerLink="/studentdashboard/sdashboard">Dashboard</li>
                <li routerLink="/studentdashboard/checkresult">Check My result</li>
                <li routerLink="/studentdashboard/backlogs">Back Logs</li>
                <!-- <li routerLink="/studentdashboard/feedback">Give Feedback</li>
                <li routerLink="/studentdashboard/shoppingzone">Shopping Zone</li>
                <li>Online Materials</li> -->
                <li routerLink="/studentdashboard/editprofile">Edit Profile</li>
                <li (click)='logout()'>Logout</li>
            </ul>
            </div>
        </div>
    </div>