<div class="home">
    <div class="banner_div">
        <div class="container ">
            <div class="row ">
                <div class="col text-left content-justify-center">
                    <h2 class="display-4">Introducing</h2>
                    <h1 class="display-1  mb-3"><strong>resultrepo</strong></h1>
                    <h3 class="box_text">Result Analyzer And Result Manager</h3>
                    <h3 class="box_text">First 6 Months Free</h3>
                    <br>
                    <br>
                    <a [routerLink]="['/login']" class="btn btn-primary btn-lg">Sing-in/up</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="about">
        <div class="row ">
            <div class="container section">
                <div class="row">
                    <div class="col text-center">
                        <h1 class="display-3 mt-2 mb-3"><strong>Result Analyzer And Result Manager</strong></h1>
                        <p class="lead">Resultrepo is the web application which is helpful for students as well as the college
                            authorities. In the current system all the activities are done manually. It is very time consuming
                            and costly. Our application deals with the various activities related to the student results
                            like analysing data, managing data.</p>
                        <br>
                    </div>
                </div>
                <br>
                <br>
                <br>
            </div>
        </div>
    </div>
    <div class="container-fluid section" id="pricing">
        <div class="row ">
            <div class="container ">
                <div class="row">
                    <div class="col text-center">
                        <h2 class="display-4">First Time &amp; Best in market</h2>
                        <h1 class="display-3 mt-2 mb-3"><strong>Flexible plans for you</strong></h1>
                        <br>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <div class="row border_price">
                    <div class="col-sm-4 text-center">
                        <div class="block bordered">
                            <p>Simple Plan</p>
                            <h1 class="display-3 mt-1 mb-1 text-primary"><strong>RS 14,999/-</strong></h1>
                            <h3 class="mb-4">Two Years</h3>
                            <h2>All that you need</h2>
                            <hr>
                            <p class="lead">Setup Fee Rs 0/-</p>
                            <p class="lead">No Hidden Charges</p>
                            <br>
                            <a [routerLink]="['/login']" class="btn btn-lg btn-primary">Buy now!</a><br>
                            <br>
                        </div>
                    </div>
                    <div class="col-sm-4 text-center">
                        <div class="block bordered">
                            <p>Smart Plan</p>
                            <h1 class="display-3 mt-1 mb-1 text-primary"><strong>RS 19,999/-</strong></h1>
                            <h3 class="mb-4">Four Years</h3>
                            <h2>All that you need</h2>
                            <hr>
                            <p class="lead">Setup Fee Rs 0/-</p>
                            <p class="lead">No Hidden Charges</p>
                            <br>
                            <a [routerLink]="['/login']" class="btn btn-lg btn-primary">Buy now!</a><br>
                            <br>
                        </div>
                    </div>
                    <div class="col-sm-4 text-center">
                        <div class="block bordered">
                            <p>Genius</p>
                            <h1 class="display-3 mt-1 mb-1 text-primary"><strong>Rs 0/-</strong></h1>
                            <h3 class="mb-4">Full Time</h3>
                            <h2>All that you need</h2>
                            <hr>
                            <p class="lead">Setup Fee Rs 7999/-</p>
                            <p class="lead">Indirect Charges Applicable</p>
                            <br>
                            <a [routerLink]="['/login']" class="btn btn-lg btn-primary">Buy now!</a><br>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid light-bg" id="team">
        <div class="row">
            <div class="container section">
                <div class="row">
                    <div class="col text-center">
                        <h2 class="display-4">Working with Good</h2>
                        <h1 class="display-3 mt-2 mb-3"><strong>Team Members</strong></h1>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <div class="row">
                    <div class="col-sm-4 text-center"> <img class="rounded-circle" src="https://svgshare.com/i/65U.svg" alt="Generic placeholder image"
                            width="160" height="160">
                        <h2 class="my-3">P Lalith Kumar</h2>
                        <p class="lead">Developer</p>
                        <br>
                    </div>
                    <div class="col-sm-4 text-center"> <img class="rounded-circle" src="https://svgshare.com/i/65U.svg" alt="Generic placeholder image"
                            width="160" height="160">
                        <h2 class="my-3">Repuri Preethi</h2>
                        <p class="lead">Tester</p>
                        <br>
                    </div>
                    <div class="col-sm-4 text-center"> <img class="rounded-circle" src="https://svgshare.com/i/65U.svg" alt="Generic placeholder image"
                            width="160" height="160">
                        <h2 class="my-3">P Anand Samuel</h2>
                        <p class="lead">Sales</p>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid section" id="contactus">
        <div class="row">
            <div class="container section">
                <div class="row">
                    <div class="col text-center">
                        <h2 class="display-4">Feel free to connect</h2>
                        <h1 class="display-3 mt-2 mb-3"><strong>Get in touch with Us</strong></h1>
                        <p class="lead">We will be happy to help you and serving great services to you.</p>
                        &#9990; : 9704620705 &nbsp;&nbsp;&nbsp;  &#9993; : <i>info@resultrepo.com</i> 
                        <br>
                    </div>
                </div>
                <br>
                <br>
                <br>
            </div>
        </div>
    </div>

    <div class="row ">
        <p class="col-sm-12 copyright">© Jenefa Developers 2019.</p>
    </div>
</div>