<div class="innermaincontent">
    <div class="row hidden-print">
        <div class="col-sm-12">
            <div class="subheadding">
                <span class="fotntwt700">Result Analysis</span>
            </div>
        </div>
    </div>
    <div class="divcontent">
      <div class="row hidden-print">
          
        <div class="col-sm-12">
          <div class="searchstudent">
            <form (ngSubmit)="analyze(f)" #f="ngForm">
              <label for="">Select Result</label>
              <select ngModel name='id' class="form-control" required>
                <option></option>
                <option *ngFor="let result of resultlist" value={{result._id}}>{{result.Description}}</option>
              </select><br>
              <button [disabled]="!f.valid" class="btn btnone" type="Submit">Submit</button>
            </form>
          </div>
        </div>
      </div>
        <div class="resulttable" *ngIf="resulttable==true">
           <div class="row padd10px">
              <div class="col-sm-12 text-center">
                <span class="mediumtext">First year Second Seminster Result May 2015 <br>Analysis Report</span>
              </div>
            </div>
           <div *ngFor="let result of result_data; let i=index;" class="{{i==0 ? 'resulttablecontent': 'resulttablecontent pagebreak'}}" >
            <h4 class="mediumtext fotntwt900">&nbsp; Result Of {{result.title}}</h4>
            <table class="table" style="font-size:11px; border: 1px solid #b1c2aa;">
                <tr class="mediumtext">
                    <th>Roll No</th>
                    <th *ngFor="let subname of result.data.subwise; let j=index;">{{subname.sub_name}}</th>
                    <!-- <th *ngFor="let subname of result.data.subwise; let j=index;">{{(subname.sub_name.length>15)? (subname.sub_name | slice:0:15)+'..':(subname.sub_name)}}</th> -->
                    <th>Total Marks</th>
                    <th>Status</th>
                </tr>
                <tr *ngFor="let student of result.data.allstudents; let k=index;">
                    <td>{{student.rollno}}</td>
                    <td *ngIf="result.data.subwise.length>00">{{student.sub0}}</td>
                    <td *ngIf="result.data.subwise.length>01">{{student.sub1}}</td>
                    <td *ngIf="result.data.subwise.length>02">{{student.sub2}}</td>
                    <td *ngIf="result.data.subwise.length>03">{{student.sub3}}</td>
                    <td *ngIf="result.data.subwise.length>04">{{student.sub4}}</td>
                    <td *ngIf="result.data.subwise.length>05">{{student.sub5}}</td>
                    <td *ngIf="result.data.subwise.length>06">{{student.sub6}}</td>
                    <td *ngIf="result.data.subwise.length>07">{{student.sub7}}</td>
                    <td *ngIf="result.data.subwise.length>08">{{student.sub8}}</td>
                    <td *ngIf="result.data.subwise.length>09">{{student.sub9}}</td>
                    <td *ngIf="result.data.subwise.length>010">{{student.sub10}}</td>
                    <td *ngIf="result.data.subwise.length>011">{{student.sub11}}</td>
                    <td *ngIf="result.data.subwise.length>012">{{student.sub12}}</td>
                    <td *ngIf="result.data.subwise.length>013">{{student.sub13}}</td>
                    <td *ngIf="result.data.subwise.length>014">{{student.sub14}}</td>
                    <td *ngIf="result.data.subwise.length>015">{{student.sub15}}</td>
                    <td>{{student.totalmarks}}</td>
                    <td><span *ngIf="student.status;">Passed</span> <span *ngIf="!student.status;" style="color:red">Failed</span> </td>
                </tr>
                <tr class="mediumtext">
                    <td>Candidates Appeared</td>
                    <td *ngFor="let total of result.data.subwise; let l=index;">{{total.passed+total.failed}}</td>
                    <td>{{result.data.overal.passed+result.data.overal.failed}}</td>
                    <td></td>
                </tr>
                <tr class="mediumtext">
                    <td>Passed Candidates	</td>
                    <td *ngFor="let total of result.data.subwise; let l=index;">{{total.passed}}</td>
                    <td>{{result.data.overal.passed}}</td>
                    <td></td>
                </tr>
                <tr class="mediumtext">
                    <td>Pass Percentage	</td>
                    <td *ngFor="let total of result.data.subwise; let l=index;">{{(((total.passed)/(total.passed+total.failed))*100) | number:'2.1-2'}} %</td>
                    <td>{{(((result.data.overal.passed)/(result.data.overal.passed+result.data.overal.failed))*100) | number:'2.1-2'}} %</td>
                    <td></td>
                </tr>
            </table>

           </div>
           <h3 class="mediumtext text-center hidden-print">Graph Representation</h3>
           <div class="graph" *ngFor="let result of resultarray">
              <div class="row pagebreak">
                <h4 class="mediumtext text-center">Result Of {{result}}</h4>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                  <h5 class="mediumtext text-center">Subject Wise Report</h5>
                  <div class="padd10px">
                  <div style="display: block">
                    <canvas baseChart
                            [datasets]="barChartData"
                            [labels]="barChartLabels"
                            [options]="barChartOptions"
                            [legend]="barChartLegend"
                            [chartType]="barChartType"
                            (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)"></canvas>
                  </div>
                  <div class="col-sm-12 text-center">A = MANAGERIAL ECONOMICS & FINANCIAL ANALYSIS</div>
                  <div class="col-sm-12 text-center">B = MANAGERIAL ECONOMICS & FINANCIAL ANALYSIS</div>
                  <div class="col-sm-12 text-center">C = MANAGERIAL ECONOMICS & FINANCIAL ANALYSIS</div>
                  <div class="col-sm-12 text-center">D = MANAGERIAL ECONOMICS & FINANCIAL ANALYSIS</div>
                  <div class="col-sm-12 text-center">E = MANAGERIAL ECONOMICS & FINANCIAL ANALYSIS</div>
                  <div class="col-sm-12 text-center">F = MANAGERIAL ECONOMICS & FINANCIAL ANALYSIS</div>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                  <h5 class="mediumtext text-center">Total Branch Report</h5>
                  <div class="padd10px">
                  <div style="display: block">
                    <canvas baseChart
                        [data]="pieChartData"
                        [labels]="pieChartLabels"
                        [chartType]="pieChartType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)">
                    </canvas>
                  </div>
                  <div class="col-sm-12 text-center">Passed : 70% <br>Failed : 30%</div>
                  </div>
                </div>
              </div> 
              <br><br> 
              <hr>
            </div>
        </div>
    </div>
    