        <div class="innermaincontent">
            <div class="row hidden-print">
                <div class="col-sm-12">
                  <div class="subheadding">
                    <span class="fotntwt700">View Result</span>
                  </div>
                </div>
            </div>
            <div class="divcontent">
              <div class="viewresult">
                <div class="row">
                  <div class="col-sm-12 text-center">
                    <h4 class="mediumtext">{{result_data.Description}}</h4>
                  </div>
                  <div class="col-sm-12">
                    <table style="width:100%"> 
                      <tr>
                        <th>Roll No</th>
                        <th>Subject Code</th>
                        <th>Subject Name</th>
                        <th>Grade</th>
                        <th>Credits</th>
                      </tr>
                      <tr>
                        <td>13541A0503</td>
                        <td>RT13CO7</td>
                        <td>B</td>
                        <td>3</td>
                    </table>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
        
                  </div>
                </div>
              </div>
          </div>
        </div>
        
            