<div class="sidebar">
        <div class="whitebox paddtop10">
            <div class="innerhead">
                <div class="row">
                    <div class="col-sm-6">
                        <h4><a routerLink="/login"><span class="glyphicon glyphicon-arrow-left"></span><span class="mediumtext"> &emsp;&emsp;Back</span></a></h4>
                    </div>
                    <div class="col-sm-6">
                        <div class="getmembership floatr">
                            <a class="btn btntwo">Get Membership</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <app-studentmenu></app-studentmenu>
                </div>
                    <router-outlet></router-outlet>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </div>
        </div>
    </div>