<div class="maincontent">
  <div class="graybox">
      <div class="student_menuoptions">
      <ul> 
          <li routerLink="/collegedashboard/cdashboard">Dashboard</li>
          <li routerLink="/collegedashboard/studentresult">Student Result</li>
          <li routerLink="/collegedashboard/resultanalyze">Result Analysis</li>
          <li routerLink="/collegedashboard/uploadresult">Upload Result</li>
          <li routerLink="/collegedashboard/feedback">Results list</li>
          <li routerLink="/collegedashboard/shoppingzone">Add Student</li>
          <li routerLink="/collegedashboard/shoppingzone">View Students</li>
          <li routerLink="/collegedashboard/shoppingzone">Invoice</li>
          <li routerLink="/collegedashboard/editprofile">Edit Profile</li>
          <li routerLink="/collegedashboard/shoppingzone">Help</li>
          <li>Logout</li>
      </ul>
      </div>
  </div>
</div>