<div class="innermaincontent">
  <div class="row">
    <div class="col-sm-12">
      <div class="subheadding">
        <span class="fotntwt700">
          Edit Profile
        </span>
      </div>
    </div>
  </div>
  <div class="divcontent">
    <div class="editprofile">
      <div class="row">
        <div class="col-sm-12">
          <table>
            <tr>
              <th>Collge Id</th>
              <th>{{college.username}}</th>
            </tr>
            <tr>
              <th>Exam Cell Incharge </th>
              <th>{{college.e_c_incharge}}</th>
            </tr>

            <tr>
              <th>Password</th>
              <th>**********</th>
              <th><a (click)="open_subscreen('change_password')" class="btn btntwo">Change Password</a></th>
            </tr>
            <tr>
              <th>Mobile Number</th>
              <th> {{college.mobile}} </th>
              <!-- <th><a (click)="changedivfn('mobile')" class="btn btntwo">Edit</a></th> -->
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="sub_screen" id="change_password">
  <div class="sub_screen_content medium_wd_he">
    <div class="head">
      <div class="ssc_titel">Change Password</div>
    </div>
    <div class="body">
      <form class="form" (ngSubmit)="changepassword(f1)" #f1="ngForm">
        <label>Enter New Password</label>
        <input class="form-control" type="password" ngModel name="password" required><br>
        <label>Re-Enter New Password</label>
        <input class="form-control" type="password" ngModel name="repassword" required><br>
        <p id="mismatch" style="color:red"></p>
        <button class="btn btnone" type="submit" [disabled]='!f1.valid'>Change</button>&nbsp;&emsp;
        <button class="btn btntwo" (click)='close_subscreen()'>Cancel</button>

      </form>
    </div>
    <div class="sub_screen_footer">
    </div>
  </div>
</div>
<div class="sub_screen" id="otp_passwor">
  <div class="sub_screen_content medium_wd_he">
    <div class="head">
      <div class="ssc_titel">Change Password</div>
    </div>
    <div class="body">
      <form class="form" (ngSubmit)="validate_otp(f2)" #f2="ngForm">
        <label>Enter OTP</label>
        <input class="form-control" type="text" ngModel name="otp"><br>
        <p id="otp_error" style="color:red"></p>
        <button class="btn btnone" type="Submit" [disabled]='!f2.valid'>Verify</button>&nbsp;&emsp;
        <button class="btn btntwo" (click)='close_subscreen()'>Cancel</button>
      </form>
    </div>
    <div class="sub_screen_footer">
    </div>
  </div>
</div>
<div class="sub_screen" id="p_changed">
  <div class="sub_screen_content medium_wd_he">
    <div class="head">
      <div class="ssc_titel">Change Password</div>
    </div>
    <div class="body">
      <div class="confirm">
        <h5><b>Password Updated Successfully</b></h5>
        <p class="success text-center"><span style="padding: 9px;background-color: green;border-radius: 50%;color: white;"
            class="glyphicon glyphicon-ok"></span></p>
      </div>
    </div>
    <div class="sub_screen_footer">
    </div>
  </div>
</div>
<div class="sub_screen" id="p_changed_fail">
  <div class="sub_screen_content medium_wd_he">
    <div class="head">
      <div class="ssc_titel">Change Password</div>
    </div>
    <div class="body">
      <div class="confirm">
        <h5><b>Unable to update password</b></h5>
        <p class="success text-center"><span style="padding: 9px;background-color: red;border-radius: 50%;color: white;"
            class="glyphicon glyphicon-remove"></span></p>
      </div>
    </div>
    <div class="sub_screen_footer">
    </div>
  </div>
</div>