<div class="innermaincontent">
  <div class="row hidden-print">
      <div class="col-sm-12">
        <div class="subheadding">
          <span class="fotntwt700">Upload Result</span>
        </div>
      </div>
  </div>
  <div class="divcontent">
    <form (ngSubmit)="uploadresult(f)" #f="ngForm" enctype="multipart/form-data">
      <div class="row" style="padding-left:50px;padding-right:50px;">
        <div class="col-sm-4">
          <label style="padding-top:10px; font-weight:600;">Select Year</label>
            <select class="form-control" ngModel name="ryear" required="">
              <option></option>
              <option>I </option>
              <option>II </option>
              <option>III </option>
              <option>IV </option>
            </select>
          <label style="padding-top:10px; font-weight:600;">Select Course</label>
            <select class="form-control" ngModel name="course" required="">
              <option></option>
              <option>B.TECH </option>
              <option>MBA</option>
              <option>MBA</option>
              <option>B-Pharmacy</option>
              <option>M-TECH</option>
            </select>
        </div>
        <div class="col-sm-4">
          <label style="padding-top:10px; font-weight:600;">Select Semester</label>
            <select class="form-control" ngModel name="sem" required="">
              <option></option>
              <option>I Semester</option>
              <option>II Semester</option>
            </select>
          <label style="padding-top:10px; font-weight:600;">Result Type</label>
            <select class="form-control" [(ngModel)]='rtype' name="rtype" required="">
              <option></option>
              <option>Regular/Supplementary</option>
              <option>Supplementary</option>
              <option>Recounting/Revaluation</option>
            </select>                                  
        </div>
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-6">
                    <label style="padding-top:10px; font-weight:600;">Month</label>
                    <select class="form-control" ngModel name="month" required="">
                      <option></option>
                      <option>Jan</option>
                      <option>Feb</option>
                      <option>Mar</option>
                      <option>Apr</option>
                      <option>May</option>
                      <option>Jun</option>
                      <option>Jul</option>
                      <option>Aug</option>
                      <option>Sep</option>
                      <option>Oct</option>
                      <option>Nov</option>
                      <option>Dec</option>
                    </select> 
                </div>
                <div class="col-sm-6">
                  <label style="padding-top:10px; font-weight:600;">Year</label>
                    <select class="form-control" ngModel name="year" required="">
                      <option></option>
                      <option>2013</option>
                      <option>2014</option>
                      <option>2015</option>
                      <option>2016</option>
                      <option>2017</option>
                      <option>2018</option>
                      <option>2019</option>
                      <option>2020</option>
                      <option>2021</option>
                      <option>2022</option>
                      <option>2023</option>
                      <option>2024</option>
                      <option>2025</option>
                      <option>2026</option>
                      <option>2027</option>
                      <option>2028</option>
                      <option>2029</option>
                    </select>
                </div>
            </div> 
            <div class="row">
              <div class="col-sm-6">
                <label style="padding-top:10px; font-weight:600;">Batch (If Regular)</label>
                  <select class="form-control" ngModel name="batch" required [disabled]="getbatch()">
                      <option></option>
                      <option>2013</option>
                      <option>2014</option>
                      <option>2015</option>
                      <option>2016</option>
                      <option>2017</option>
                      <option>2018</option>
                      <option>2019</option>
                      <option>2020</option>
                      <option>2021</option>
                      <option>2022</option>
                      <option>2023</option>
                      <option>2024</option>
                      <option>2025</option>
                      <option>2026</option>
                      <option>2027</option>
                      <option>2028</option>
                      <option>2029</option>
                  </select>
              </div>
              <div class="col-sm-6">
                <label style="padding-top:10px; font-weight:600;">Year</label>
                  <select class="form-control" ngModel name="year2" required="">
                    <option></option>
                    <option>2013</option>
                    <option>2014</option>
                    <option>2015</option>
                    <option>2016</option>
                    <option>2017</option>
                    <option>2018</option>
                    <option>2019</option>
                    <option>2020</option>
                    <option>2021</option>
                    <option>2022</option>
                    <option>2023</option>
                    <option>2024</option>
                    <option>2025</option>
                    <option>2026</option>
                    <option>2027</option>
                    <option>2028</option>
                    <option>2029</option>
                  </select>
              </div>
          </div>
        </div>
      </div>
      <div class="row" style="padding-left:50px;padding-right:50px;">
        <div class="col-sm-4"></div>
          <div class="col-sm-4">
            <label style="padding-top:10px; font-weight:600;">Select File[Only CSV(Comma Delimited)]</label>
              <input type="file" ngModel name="file" id="file" class="form-control" required="">
            <label>
              <input type="checkbox" name="grade" value="1"> result in Grading format
            </label>
          </div>
        </div>
      <div class="text-center" style="padding:20px;">       
          <button class="btn btnone" [disabled]="!f.valid" type="Submit">Submit</button>
      </div>
    </form>
  </div>
</div>
  