<div class="innermaincontent">
    <div class="row">
        <div class="col-sm-12">
            <div class="subheadding">
                <span class="fotntwt700">BackLogs</span>
            </div>
        </div>
    </div>
    <div class="divcontent">
        <div class="resulttable">
           <div class="row padd10px">
              <div class="col-sm-6">
                <span class="mediumtext">Roll No &nbsp;&nbsp;:&nbsp;&nbsp;17P41S0523</span>
              </div>
              <div class="col-sm-6">
                <span class="mediumtext">Backlogs &nbsp;&nbsp;:&nbsp;&nbsp; 5</span>
              </div>
           </div>
           <hr>
           <div class="resulttablecontent" *ngFor="let result of resultarray">
            <h4 class="mediumtext fotntwt900">&nbsp;Semister 1</h4>
            <table class="table">
                <tr>
                    <th>Subject Code</th>
                    <th>Subject Name</th>
                    <th>Subject Internals</th>
                    <th>Subject Externals</th>
                    <th>Credits</th>
                    <th>Attempts</th>
                </tr>
                <tr>
                    <td>RT21034</td>
                    <td>MANAGERIAL ECONOMICS & FINANCIAL ANALYSIS</td>
                    <td>15</td>
                    <td>25</td>
                    <td>3</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>RT21034</td>
                    <td>DATA STRUCTURES</td>
                    <td>15</td>
                    <td>25</td>
                    <td>3</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>RT21034</td>
                    <td>OBJECT ORIENTED PROGRAMMING THROUGH C++</td>
                    <td>15</td>
                    <td>25</td>
                    <td>3</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>RT21034</td>
                    <td>MATHEMATICAL FOUNDATIONS OF COMLUTER SCIENCE</td>
                    <td>15</td>
                    <td>25</td>
                    <td>3</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>RT21034</td>
                    <td>OBJECT ORIENTED PROGRAMMING LAB</td>
                    <td>15</td>
                    <td>25</td>
                    <td>3</td>
                    <td>1</td>
                </tr>
                <tr class="fotntwt700">
                    <td>Overal Semister Report</td>
                    <td>Percentage : 52%</td>
                    <td>Backlogs : 2</td>
                </tr>
            </table>
            <hr>
           </div>
        </div>
    </div>