  <div class="innermaincontent">
    <div class="row">
        <div class="col-sm-12">
            <div class="subheadding">
                <span class="fotntwt700">Student Dashboard</span>
            </div>
        </div>
    </div>
    <div class="divcontent">
        <div class="row">
            <div class="borderdiv col-sm-3">
                <div class="myprofile">
                    <div class="col-sm-12">
                        <div class="profilepic text-center">
                            <img src="assets/images/studentimg.png">
                        </div>
                        <div class="profiledetails">
                            <table>
                                <tr>
                                    <th>Name</th>
                                    <td>{{student.s_name}}</td>
                                </tr>
                                <tr>
                                    <th>Roll No</th>
                                    <td>{{student.username}}</td>
                                </tr>
                                <tr>
                                    <th>Mobile No</th>
                                    <td>{{student.mobile}}</td>
                                </tr>
                                <tr>
                                    <th>Email </th>
                                    <td>{{student.email}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 text-center top35">
                <div class="dpmsg">
                    <h1>
                        Hi!<br>
                        Welcome<br>
                        <b>{{student.s_name}}</b>
                    </h1>
                </div>
            </div>
            <div class="col-sm-3">

            </div>
        </div>
    </div>
</div>